page-movies {
    .pic-2 {
        background-image: url('../../assets/images/black.png');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
}
